{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="author" content="Kodinger">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>My Login Page</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<link rel="stylesheet" type="text/css" href="{% static 'css/default.css'%}">
</head>

<body class="my-login-page">
	<nav class="navbar navbar-expand-md navbar-dark">
		<a class="navbar-brand heading-black" href="/">
		   ParkingPAY
		</a> 
	</nav>
	<section class="h-1000" style="margin: auto;">
		<div class="w-100 p-3">
			<div class="row justify-content-md-center h-100">
				<div class="card-wrapper">
				
					<div class="card fat">
						<div class="card-body">
							<h4 class="card-title">Sign Up</h4>
							<form method="POST" class="my-login-validation" novalidate="" name="signin">
								{% csrf_token %}
                <div class="form-group">
									<label for="email">User Name</label>
                  <input id="first name" type="text" class="form-control" name="fname" value="" required autofocus>
				<div class="form-group"><br>
                    <label for="email">Full Name</label>
                    <input id="last name" type="text" class="form-control" name="lname" value="" required autofocus>
								<div class="form-group"><br>
									<label for="email">E-Mail Address</label>
									<input id="email" type="email" class="form-control" name="email" value="" required autofocus>
									
								</div>
								<div class="form-group">
									<label for="password">Password
									</label><br>
									<input id="password" type="password" class="form-control" name="password" required data-eye>
								</div>
								<div class="form-group">
									<label for="password1">confirm Password
									</label><br>
									<input id="password1" type="password" class="form-control" name="password1" required data-eye>
								</div>						
								<br><div class="form-group m-0">
									<button type="submit" class="btn btn-primary btn-block">
										Signup
									</button>
								</div>
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	{% for message in messages %}
	<h2>{{ message }}</h2>
	{% endfor %}
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	<script src="{% static 'js/my-login.js' %}"></script>
</body>
</html>